.trado-text {
  display: flex;
  flex-shrink: 0;
  height: 35px;
  width: auto;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  background: #eee;
  border: #ddd;
  border-radius: 6px;
  padding: 0px 5px;
}

.trado-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ddd;
}

.trado-wrapper {
  position: fixed;
  display: flex;
  /* background: pink; */
  height: 50px;
  width: 100px;
  z-index: 99;
  justify-content: center;
  flex-wrap: wrap;
}